<div class="container about-section">
    <h1 class="text-center">About SATechnology</h1>
    <p class="text-center">Founded in 2024, SATechnology is a dynamic technology solutions provider dedicated to empowering businesses of all sizes with cutting-edge solutions.</p>

    <div class="row mt-5">
        <div class="col-md-6">
            <p>At SATechnology, we believe in the power of technology to transform businesses. We leverage our expertise in web development to deliver innovative solutions that drive growth and success.</p>
            <p>Our team of skilled professionals is passionate about delivering results. We are committed to understanding your unique business challenges and providing tailored solutions that meet your specific needs.</p>
        </div>
        <div class="col-md-6">
            <img src="SATechIcon.jpg" alt="SATechnology Logo" class="img-fluid rounded-circle"> 
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <p><strong>Our Vision:</strong> To empower businesses through innovative technology solutions that drive growth and success.</p>
            <p><strong>HELPING YOU GROW</strong></p>
        </div>
    </div>

</div>